<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringAdminApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-admin" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.kduda.spring.admin.SpringAdminApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>